.icon_container {
  font-size: 16px;
  color: white;
  margin: 0 5px;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 0 !important;
}

.heading {
  margin-left: 16px;
  font-size: 16px !important;
  color: #fff !important;
  font-weight: 700 !important;
  white-space: nowrap !important;
  margin: 11px 0 6px 22px;
}

.spanH{
  display: inline;
  margin-left: 1rem;
}

@media (max-width: 480px) {
  .spanH {
    display: none;
  }
}
